body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.race{
    width: 100%;
    height: 800px;
    background-image: url(./race_img/download.jpeg);
    position: relative;
}
.finishline{
    height: 810px;
    width: 10px;
    background-color: red;
    position: absolute;
    left: 1200px;
    top: 0;
}
.finishline2{
    height: 810px;
    width: 10px;
    background-color: green;
    position: absolute;
    left: 1450px;
    top: 0;
}
.cars{
    position: absolute;
    margin: 5px 0;
}
#merc{
    top: 0;
    left: 0;
}
#tesla{
    top: 200px;
    left: 0;
}
#bmw{
    top: 400px;
    left: 0;
}
#prius{
    top: 600px;
    left: 0;
}
